@media all and (max-width: 1000px) {
   .kotak-form{
    float: right;
  }
  
  .logo-facebook{
    float: left;
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .kotak-form{
    float: right;
  }
  
  .logo-facebook{
    float: left;
  }
}
